{% extends "layout.html" %}

{% block title %}
    Add Students
{% endblock %}

{% block main %}

    <form action="{{ url_for('addstudentnum') }}" method="post">
        <fieldset>
            <div class="form-group">
                    Amount of students: <span class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="num" type="number" min="1" value="1"/>
                    </span>
                </br>
                <button class="btn btn-default" type="submit" style="margin: 10px">Add</button>
            </div>
        </fieldset>
    </form>
{% endblock %}